{% load static %} 
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ピアノキーボード</title>
    <link rel="stylesheet" href="{% static 'keyboard/style.css' %}">
    <script src="{% static 'keyboard/javascript/main.js' %}"></script>
</head>
<body>
    <!--
    <div class="piano">
        <div class="key white" data-note="60"></div>
        <div class="key black" data-note="61"></div> 
        <div class="key white" data-note="62"></div> 
        <div class="key black" data-note="63"></div> 
        <div class="key white" data-note="64"></div> 
        <div class="key white" data-note="65"></div>
        <div class="key black" data-note="66"></div> 
        <div class="key white" data-note="67"></div> 
        <div class="key black" data-note="68"></div> 
        <div class="key white" data-note="69"></div> 
        <div class="key black" data-note="70"></div> 
        <div class="key white" data-note="71"></div>
    </div>
    -->

</body>
</html>