@charset "utf-8";
* {
	margin:0;
	padding:0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
/*
.piano {
    display: flex;
    position: relative;
}

.key {
    border: 1px solid #000;
}

.white {
    width: 50px;
    height: 200px;
    background-color: white;
    z-index: 1;
}

.black {
    width: 30px;
    height: 120px;
    background-color: black;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 2;
    position: relative;
}

.key:hover {
    background-color: #ccc;
}
*/